a{
  text-decoration: none;
  color: black;
}

li{
  font-size: large;
}
p{
  font-size: large;
}

.container{
  background-color: #f8f9fa;
}

code {
  font-family: Consolas,"courier new";
  color: white;
  background-color: black;
  padding: 2px;
  font-size: 105%;
}

.footer{
  padding: 15px 0px 15px 0px;
}